<div class="flex justify-center items-center h-screen">
    <form action="" class="flex flex-col gap-4">
        <h1 class="text-2xl font-bold">Login</h1>

        <!-- Username -->
        <div class="flex flex-col gap-2">
            <label for="username">Username</label>
            <input type="text" id="username" placeholder="Username" class="border border-gray-300 rounded-md p-2">
        </div>

        <!-- Password -->
        <div class="flex flex-col gap-2">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Password" class="border border-gray-300 rounded-md p-2">
        </div>

        <button type="submit" class="bg-blue-500 text-white rounded-md p-2">Login</button>
        <a href="/register" class="text-blue-500">Register</a>
    </form>
</div>